footer.footer
  div.container
    div.footer-content
      // Thông tin liên hệ
      div.footer-section
        h4 Liên Hệ
        p Email: support@example.com
        p Hotline: 0123 456 789
      // Liên kết mạng xã hội
      div.footer-section
        h4 Theo Dõi Chúng Tôi
        div.social-links
          a(href="https://facebook.com" target="_blank")
            i.fab.fa-facebook-f
          a(href="https://twitter.com" target="_blank")
            i.fab.fa-twitter
          a(href="https://instagram.com" target="_blank")
            i.fab.fa-instagram
      // Bản quyền
      div.footer-bottom
        p &copy; 2025 Trang Luyện Thi TOEIC/IELTS. All rights reserved.