
block content
  .container-fluid
    h1 Tạo đề Speaking mới
    form(method="POST" action="/admin/speaking/create")
      .form-group
        label(for="title") Tiêu đề:
        input#title.form-control(type="text" name="title" required)
      
      .form-group
        label(for="content") Nội dung:
        textarea#content.form-control(name="content" rows="5" required)
      
      button.btn.btn-primary(type="submit") Tạo đề