doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Đăng nhập
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
    link(rel="stylesheet", href="/client/css/login.css")

  body
    .main
      .form-container
        .form-top
          h1.form-title ĐĂNG NHẬP
          a.exit(href="#") x

        .form-main
          if error
            p.error-message(style="color: red; text-align: center; margin-bottom: 10px;")= error

          form.signup-form#login(action="/auth/login", method="POST")
            .field
              label(for="email") Nhập email của bạn:
              input(type="email", placeholder="Email", id="email", name="email", required, minlength="8", maxlength="24")

            .field
              label(for="password") Nhập mật khẩu:
              input(type="password", placeholder="Password", id="password", name="password", required, minlength="8", maxlength="24")
              .eye
                i.fa.fa-eye

        .form-bottom
          button.button(type="submit", form="login") ĐĂNG NHẬP NGAY!
          a.button(href="/auth/register") CHƯA CÓ TÀI KHOẢN?

    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script.
      $(document).ready(function(){
        $('.eye').click(function(){
          $(this).toggleClass('open');
          $(this).children('i').toggleClass('fa-eye-slash fa-eye');
          const input = $(this).prev();
          input.attr('type', input.attr('type') === 'password' ? 'text' : 'password');
        });
      });