doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Tạo tài khoản mới
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
    link(rel="stylesheet", href="/client/css/register.css")

  body
    .main
      .form-container
        .form-top
          h1.form-title TẠO TÀI KHOẢN MỚI
          a.exit(href="#") x

        .form-main
          if error
            p.error-message(style="color: red; text-align: center; margin-bottom: 10px;")= error

          form.signup-form#signup(action="/auth/register", method="POST")
            .field
              label(for="fullname") Nhập họ và tên:
              input(type="text", name="fullname", id="fullname", placeholder="Full name", required, minlength="5", maxlength="30")

            .field
              label(for="phonenumber") Nhập số điện thoại:
              input(type="number", placeholder="Phone Number", id="phonenumber", name="phonenumber", required)

            .field
              label(for="email") Nhập email của bạn:
              input(type="email", placeholder="Email", id="email", name="email", required, minlength="8", maxlength="24")

            .field
              label(for="age") Tuổi của bạn:
              select(name="age", id="age", required)
                option(value="underfined") Chọn độ tuổi của bạn...
                option(value="u18") Dưới 18 tuổi
                option(value="f18t39") Từ 18 đến 39 tuổi
                option(value="f40t64") Từ 40 đến 64 tuổi
                option(value="o65") Từ 65 tuổi trở lên

            .field
              label(for="username") Nhập tên người dùng:
              input(type="text", placeholder="Username", id="username", name="username", required, minlength="6", maxlength="12")

            .field
              label(for="password") Nhập mật khẩu:
              input(type="password", placeholder="Password", id="password", name="password", required, minlength="8", maxlength="24")
              .eye
                i.fa.fa-eye

            .field
              label(for="repassword") Nhập lại mật khẩu:
              input(type="password", placeholder="Re-Password", id="repassword", name="repassword", required, minlength="8", maxlength="24")
              .eye
                i.fa.fa-eye

            .field
              label(for="sex") Giới tính của bạn:
              select(name="sex", id="sex", required)
                option(value="underfined") Chọn giới tính của bạn...
                option(value="male") Nam
                option(value="female") Nữ
                option(value="another") Khác

        .form-bottom
          button.button(type="submit", form="signup") ĐĂNG KÝ NGAY!
          a.button(href="/auth/login") ĐÃ CÓ TÀI KHOẢN?

    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script.
      $(document).ready(function(){
        $('.eye').click(function(){
          $(this).toggleClass('open');
          $(this).children('i').toggleClass('fa-eye-slash fa-eye');
          const input = $(this).prev();
          input.attr('type', input.attr('type') === 'password' ? 'text' : 'password');
        });
      });