block head
  link(rel="stylesheet" href="/client/css/speech-recognition.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
block content
  .practice-container
    h1= speech.title
    .original-text#originalText= speech.content
    button#recordBtn 🎤 Bắt đầu ghi âm
    #status.alert.alert-info.mt-3(style="display: none")
    #result.mt-3.p-3.bg-light.rounded
    #accuracy-score.mt-3
    #word-feedback.mt-3.p-3.bg-white.border.rounded

block scripts
  script.
    const originalText = `#{speech.content.replace(/[^\w\s]/g, '').toLowerCase()}`;
  script(src="/js/speech-recognition.js")